<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rate</title>
</head>
<body>
    <h1>Rating</h1>
    {{> menu}}

{{#if filename1}}
    <a href="/rate/{{filename1}}">Оценить первую работу "{{filename1}}"</a><br/>
{{/if}}
{{#if filename2}}
    <a href="/rate/{{filename2}}">Оценить вторую работу "{{filename2}}"</a><br/>
{{/if}}
{{#if filename3}}
    <a href="/rate/{{filename3}}">Оценить третью работу "{{filename3}}"</a><br/>
{{/if}}

</body>
</html>